* {
  margin: 0;
  padding: 0;
}

body {
  background: #36383a;
  color: #fff;
  height: 100vh;
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  line-height: 1.5;
}

body#bg-img {
  background: url(../img/circuit2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(66, 69, 71, 0.5);
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul li {
  margin: 0 2rem;
  padding: 1rem;
}

.navbar ul li a {
  font-size: 1.5rem;
  text-decoration: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  width: 100%;
  font-size: 8rem;
  font-variant: small-caps;
  position: relative;
  margin-top: 16rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(79, 82, 84, 0.5)), to(rgba(0, 99, 180, 0.4)));
  background-image: linear-gradient(to bottom right, rgba(79, 82, 84, 0.5), rgba(0, 99, 180, 0.4));
  -webkit-animation: heading-1;
          animation: heading-1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes heading-1 {
  0% {
    top: -100px;
    opacity: 0%;
  }
  100% {
    top: 0;
    opacity: inherit;
  }
}

@keyframes heading-1 {
  0% {
    top: -100px;
    opacity: 0%;
  }
  100% {
    top: 0;
    opacity: inherit;
  }
}

.social-icons {
  font-size: 1.5rem;
  margin-top: 6rem;
  position: relative;
  text-align: center;
  -webkit-animation: icons;
          animation: icons;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.social-icons a {
  padding: 2rem;
}

.social-icons a:hover {
  color: #9eccf1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@-webkit-keyframes icons {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: inherit;
  }
}

@keyframes icons {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: inherit;
  }
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes div {
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.project {
  padding: 8rem 10rem 0rem 10rem;
}

.project .item {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title title" "desc img";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.project .project-title-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  color: #9eccf1;
  font-weight: bold;
  background: rgba(59, 61, 63, 0.8);
  font-size: 3rem;
  padding: 2rem;
  margin-bottom: 1rem;
  font-variant: small-caps;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .desc-box {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: desc;
  height: 30rem;
}

.project .desc-box p {
  font-size: 2rem;
  padding: 1.5rem;
}

.project .img-box {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: img;
}

.project .img-box img {
  width: 100%;
  height: 100%;
}

.project .img-box:hover {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn, .btn-dark, .btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem 0 0rem;
  font-size: 22px;
}

.btn:hover, .btn-dark:hover, .btn-light:hover {
  background: #9eccf1;
  color: #000;
}

.btn-dark {
  background: #1d1f20;
  color: #fff;
}

.btn-light {
  background: #b5b8ba;
  color: #333;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: #9eccf1;
}
/*# sourceMappingURL=main.css.map */