@import "config";
// @import "menu";

* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100vh;
  // font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Nova Flat';
  // font-family: 'Merienda';
  font-family: Copperplate / Copperplate Gothic Light, sans-serif;
  line-height: 1.5;
}



.container {
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(lighten($primary-color, 5), 0.5);
  
  ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    
  
    li {
      margin: 0 2rem;
      padding: 1rem;
      
    
      a {
        font-size: 1.5rem;
        text-decoration: none;        
      }
    }
  }  
}

section {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

// Headings
h1,
h2,
h3 {
  font-weight: 400;

  &.lg-heading {
    width: 100%;
    font-size: 8rem;
    font-variant: small-caps;
    position: relative;
    margin-top: 16rem;
    background-image: linear-gradient(to bottom right, 
      rgba(lighten($primary-color, 10), 0.5), 
      rgba( rgb(0, 99, 180), 0.4 ));
    // background: rgba(lighten($primary-color, 5), 0.5);
    animation: heading-1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
}



@keyframes heading-1 {
  0% {
    top: -100px;
    opacity: 0%;
  }
  100% {
    top: 0;
    opacity: inherit;
  }
}

.social-icons {
  font-size: 1.5rem;
  margin-top: 6rem;
  // margin-bottom: 6rem;
  position: relative;
  text-align: center;
  animation: icons;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  a {
    padding: 2rem;

    &:hover {
      color: $secondary-color;
      @include easeOut();
    }
  }
}


@keyframes icons {
  0% {
    // left: -200px;
    opacity: 0%;
  }
  100% {
    // left: 0;
    opacity: inherit;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  div {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    @include easeOut;
  }
}


// Work/Projects
.project {
  padding: 8rem 10rem 0rem 10rem;
  // display: grid;
  // gap: 8rem;
  // grid-template-columns: repeat(1, 1fr);

  .item {
    display: grid;
    grid-template-areas: 
    "title title"
    "desc img";
    grid-template-columns: 50% 50%;
  } 


  .project-title-box {
    grid-area: title;
    color: $secondary-color;
    font-weight: bold;
    background: rgba(lighten($primary-color, 2), 0.8);   
    font-size: 3rem;
    padding: 2rem;
    margin-bottom: 1rem;
    font-variant: small-caps;
    text-align: center;
    align-items: center;
  }


  .desc-box {
    grid-area: desc;
    height: 30rem;

    p {
      font-size: 2rem;
      padding: 1.5rem;
    }

    a {
      
    }
  }


  .img-box {
    grid-area: img;
  
    img {      
      width: 100%;
      height: 100%;
    }
    &:hover {
      opacity: 0.5;
      @include easeOut;
    }
  }
}

// Button Styles
.btn {
  display: flex;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem 0 0rem;
  font-size: 22px;
  

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 10);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}





a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}









// @import "mobile";
